---
import Info from "../cards/Info.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="about-us">
    <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">        
        <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col align-top">
            <div class="text-center pb-5">
                <Title>
                    About Us
                </Title>    
            </div>

            <Paragraph className="mb-8 max-w-3xl mx-auto text-center text-white">
                Founded in early 2023, IntegriGuard helps SNF facilities to build custom, dedicated support teams in the Philippines. 
                Our Outsourcing team is committed in helping you keep up with growing responsibilities and tasks, in reducing facility's labor costs, 
                in improving team efficiency & productivity and in diverting staff focus to what's important - patient care. 
                Currently, we are serving Nursing home facilities in Michigan and California.
            </Paragraph>

            <div class="mx-auto lg:block hidden">
                <!-- <img src={"./images/AboutUsDesktopPic1.png"} alt="banner image" width="1240" height="1385" class="rounded-xl w-auto bottom-0 max-h-full min-h-[30vh]" /> -->
                <img src={"./images/AboutUsDesktopPic1.png"} alt="banner image" class="rounded-xl w-auto bottom-0 max-h-full min-h-[30vh]" />
            </div>
            <div class="mx-auto lg:hidden">
                <img src={"./images/AboutUsMobilePic1.png"} alt="banner image" width="1240" height="1385" class="rounded-xl w-auto bottom-0 max-h-full min-h-[30vh]" />
            </div>
            <div class="grid grid-cols-1 md:grid-cols-2 items-start gap-4 max-w-3xl md:max-w-[none]">

                <Info description="To embrace a generation where integrity, faith and service for humanity is worn like a Badge of Honor." title="Mission">
                </Info>
                <Info description="A community in which the management and workforce endeavor to achieve their full potential, inspire and aim for teamwork, honesty at work and recognize the importance of each member as vital and an integral part of the organization." title="Vision">
                </Info>
            </div>
        </div>
    </Container>
</section>