---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";

---

<section>
    <Container className="space-y-8">
        <div class="text-center max-w-3xl mx-auto">
            <Title>
                What our customers say about us
            </Title>
        </div>
        <div class="flex justify-center flex-wrap gap-4">
            <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <!-- <img src="/images/feedback01.jpg" width="100" height="100" alt="Feeback01" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"> -->
                <img src="./images/feedback01.jpg" width="400" height="400" alt="Feeback01">                
            </div>
            <!-- <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"> -->
                <!-- <img src="/images/feedback01.jpg" width="100" height="100" alt="Feeback01" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"> -->
                <!-- <img src="./images/feedback01.jpg" width="400" height="400" alt="Feeback01">                
            </div> -->
        </div>
    </Container>
</section>