---
import Container from "../shared/Container.astro";
import Title from "../shared/Title.astro";

---

<section>
    <Container className="space-y-8">
        <div class="text-center max-w-3xl mx-auto">
            <Title>
                What our customers say about us
            </Title>
        </div>
        <div class="flex justify-center flex-wrap gap-4">
            <!-- <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group">
                <img src="./images/feedback01.jpg" width="400" height="400" alt="Feeback01">                
            </div> -->
            <!-- <div class="p-4 sm:p-5 rounded-xl bg-body border border-box-border group"> -->
                <!-- <img src="/images/feedback01.jpg" width="100" height="100" alt="Feeback01" class="h-7 sm:h-10 w-auto ease-linear duration-300 grayscale group-hover:!grayscale-0 group-hover:scale-105"> -->
                <!-- <img src="./images/feedback01.jpg" width="400" height="400" alt="Feeback01">                
            </div> --> 
            <div class="max-w-lg mx-auto bg-white dark:bg-gray-800 shadow-lg rounded-lg overflow-hidden">
                <!-- Feedback content -->
                <div class="p-4">
                  <p class="text-gray-700 dark:text-gray-300 text-lg font-semibold">
                    "Quick response time, great communication to Case Managers, very happy with the Admission process!"
                  </p>
                </div>
                <!-- Customer details -->
                <div class="px-4 py-2">
                  <p class="text-gray-600 dark:text-gray-400 text-sm">Mallory Fick</p>
                  <p class="text-gray-500 dark:text-gray-500 text-xs">Chief Marketing Officer</p>
                </div>
              </div>
              
              <div class="max-w-lg mx-auto bg-white dark:bg-gray-800 shadow-lg rounded-lg overflow-hidden">
                <!-- Feedback content -->
                <div class="p-4">
                  <p class="text-gray-700 dark:text-gray-300 text-lg font-semibold">
                    "You are the Best! Thank you for all your work today!"
                  </p>
                </div>
                <!-- Customer details -->
                <div class="px-4 py-2">
                  <p class="text-gray-600 dark:text-gray-400 text-sm">Rachel Guglielmo</p>
                  <p class="text-gray-500 dark:text-gray-500 text-xs">Admission Director</p>
                </div>
              </div>

              <div class="max-w-lg mx-auto bg-white dark:bg-gray-800 shadow-lg rounded-lg overflow-hidden">
                <!-- Feedback content -->
                <div class="p-4">
                  <p class="text-gray-700 dark:text-gray-300 text-lg font-semibold">
                    "I heard great things about the work that Offshore team is doing!!! Thank you for doing that.."
                  </p>
                </div>
                <!-- Customer details -->
                <div class="px-4 py-2">
                  <p class="text-gray-600 dark:text-gray-400 text-sm">Catherine Shea Ellis</p>
                  <p class="text-gray-500 dark:text-gray-500 text-xs">Admission Director</p>
                </div>
              </div>

              <div class="max-w-lg mx-auto bg-white dark:bg-gray-800 shadow-lg rounded-lg overflow-hidden">
                <!-- Feedback content -->
                <div class="p-4">
                  <p class="text-gray-700 dark:text-gray-300 text-lg font-semibold">
                    "You are such an important part to this company. Our company had gone so much changes lately but the most positive one, is all of you. Thank you for everything you do everyday!"
                  </p>
                </div>
                <!-- Customer details -->
                <div class="px-4 py-2">
                  <p class="text-gray-600 dark:text-gray-400 text-sm">Erika Nichols</p>
                  <p class="text-gray-500 dark:text-gray-500 text-xs">Director of Case Management</p>
                </div>
              </div>              

              <div class="max-w-lg mx-auto bg-white dark:bg-gray-800 shadow-lg rounded-lg overflow-hidden">
                <!-- Feedback content -->
                <div class="p-4">
                  <p class="text-gray-700 dark:text-gray-300 text-lg font-semibold">
                    "Thank you, Offshore Accounts Payable Team! You are exceeding my every expectation"
                  </p>
                </div>
                <!-- Customer details -->
                <div class="px-4 py-2">
                  <p class="text-gray-600 dark:text-gray-400 text-sm">Rylee TenBrock</p>
                  <p class="text-gray-500 dark:text-gray-500 text-xs"></p>
                </div>
              </div>              

              <div class="max-w-lg mx-auto bg-white dark:bg-gray-800 shadow-lg rounded-lg overflow-hidden">
                <!-- Feedback content -->
                <div class="p-4">
                  <p class="text-gray-700 dark:text-gray-300 text-lg font-semibold">
                    "You are all doing so great! Keep up the good job!"
                  </p>
                </div>
                <!-- Customer details -->
                <div class="px-4 py-2">
                  <p class="text-gray-600 dark:text-gray-400 text-sm">Margeaux Donovan</p>
                  <p class="text-gray-500 dark:text-gray-500 text-xs">Accounts Payable Specialist</p>
                </div>
              </div>              
              

              <div class="max-w-lg mx-auto bg-white dark:bg-gray-800 shadow-lg rounded-lg overflow-hidden">
                <!-- Feedback content -->
                <div class="p-4">
                  <p class="text-gray-700 dark:text-gray-300 text-lg font-semibold">
                    "I would like to thank you for being such a great additions to the Accounts Payable Team!"
                  </p>
                </div>
                <!-- Customer details -->
                <div class="px-4 py-2">
                  <p class="text-gray-600 dark:text-gray-400 text-sm">Rebecca Wallace</p>
                  <p class="text-gray-500 dark:text-gray-500 text-xs">Regional Controller</p>
                </div>
              </div>              
        </div>
    </Container>
</section>