---
import Container from "../shared/Container.astro";
// import { ContactUs } from "../elements/ContactUs.jsx";
import ContactForm from "../elements/ContactUs.jsx";
import Title from "../shared/Title.astro";
 
---

<section id="contact-us">
    <Container>
        <div class="text-center max-w-3xl mx-auto">
            <Title>
                Contact Us
            </Title>
        </div>
<!-- <div class="flex items-center min-h-screen"> -->
    <div class="container mx-auto">
      <div class="max-w-md mx-auto my-5  p-5 rounded-md">
        <div class="text-center">
          <p class="text-white lg:text-2xl">
            Fill up the form below to send us a message.
          </p>
        </div>
        <div class="m-7">
          <form action="https://api.web3forms.com/submit" method="POST" id="form">
            <input type="hidden" name="access_key" value="99eb1e61-b969-473c-a171-7426f7d99d3e" />
            <input type="hidden" name="subject" value="New Submission from Web3Forms" />
            <input type="checkbox" name="botcheck" id="" style="display: none;" />
  
            <div class="mb-6">
              <label for="name" class="block mb-2 text-sm text-white lg:text-2xl">Full Name</label>
              <input type="text" name="name" id="name" placeholder="John Doe" required class="w-full px-3 py-2 h-12 rounded-sm placeholder-gray-500 text-gray-900 bg-gray-100 text-sm focus:outline-none" />
            </div>
            <div class="mb-6">
              <label for="email" class="block mb-2 text-sm text-white lg:text-2xl">Email Address</label>
              <input type="email" name="email" id="email" placeholder="you@company.com" required class="w-full px-3 py-2 h-12 rounded-sm placeholder-gray-500 text-gray-900 bg-gray-100 text-sm focus:outline-none" />
            </div>
            <div class="mb-6">
              <label for="phone" class="block mb-2 text-sm text-white lg:text-2xl">Phone Number</label>
              <input type="text" name="phone" id="phone" placeholder="+1 (555) 1234-567" required class="w-full px-3 py-2 h-12 rounded-sm placeholder-gray-500 text-gray-900 bg-gray-100 text-sm focus:outline-none" />
            </div>
            <div class="mb-6">
              <label for="message" class="block mb-2 text-sm text-white lg:text-2xl">Your Message</label>
  
              <textarea rows="5" name="message" id="message" placeholder="Your Message" class="w-full px-3 py-2 rounded-sm placeholder-gray-500 text-gray-900 bg-gray-100 text-sm focus:outline-none" required></textarea>
            </div>
            <div class="mb-6">
                <button type="submit" class="w-full inline-block text-white lg:text-2xl no-underline hover:text-indigo-100 py-4 px-4 rounded-sm focus:outline-none bg-gradient-to-r from-yellow-400 via-red-500 to-yellow-400 font-semibold shadow-md hover:bg-gradient-to-r hover:from-yellow-500 hover:via-red-600 hover:to-yellow-500 transition-colors duration-300"> 
                Send Message
              </button>
            </div>
            <p class="text-base text-center text-white" id="result"></p>
            <!-- Custom URL -->
            <input type="hidden" name="redirect" value="https://integriguard.github.io/integriguardwebapp/success">
          </form>
          <!-- Required for hCaptcha -->
           <script src="https://web3forms.com/client/script.js" async defer></script>
        </div>
      </div>
    </div>
  <!-- </div> -->
    </Container>
</section>