---
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="why-us">
        <Container >
        <div class="text-center">
            <Title>Why Us</Title>
        </div>                     
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-3 lg:gap-4">
            <div class="flex flex-col items-center p-5 sm:p-6 lg:p-8 rounded-3xl relative overflow-hidden">
                <div class="items-center rounded-3xl w-max relative mx-auto">                       
                    <img src="./images/Expertise3.png" alt="Expertise Image"  class="w-full h-auto min-w-0"> </img>                        
                </div>
                <div class="mt-6 space-y-1 flex flex-col items-center">
                    <h1 class="text-center text-lg md:text-xl font-bold text-heading-2 content-center">
                        Expertise
                    </h1>
                    <Paragraph className="text-center mt-2">
                        RN staff with years of expertise in medical record review to ensure precision, excellence and reliability. They are trained and manage by an AAPACN Master Teacher (American Association of Post-Acute Care).
                    </Paragraph>    
                </div>                         
            </div>

            <div class="flex flex-col items-center p-5 sm:p-6 lg:p-8 rounded-3xl relative overflow-hidden">
                <div class="items-center rounded-3xl w-max relative mx-auto">                       
                    <img src="./images/Quality.png" alt="5Star Image"  class="w-full h-auto min-w-0"> </img>                        
                </div>
                <div class="mt-6 space-y-1 flex flex-col items-center">
                    <h1 class="text-center text-lg md:text-xl font-bold text-heading-2 content-center">
                        Quality
                    </h1>
                    <Paragraph className="text-center mt-2">
                        Our decicated team is committed to meticulous attention to detail, ensuring each project is executed flawlessly, meeting client specifications with precision.
                    </Paragraph>    
                </div>                         
            </div>            

            <div class="flex flex-col items-center p-5 sm:p-6 lg:p-8 rounded-3xl relative overflow-hidden">
                <div class="items-center rounded-3xl w-max relative mx-auto">                       
                    <img src="./images/CustomerCentric.png" alt="5Star Image"  class="w-full h-auto min-w-0"> </img>                        
                </div>
                <div class="mt-6 space-y-1 flex flex-col items-center">
                    <h1 class="text-center text-lg md:text-xl font-bold text-heading-2 content-center">
                        Customer-Centric Focus 
                    </h1>
                    <Paragraph className="text-center mt-2">
                        By prioritizing client satisfaction, we tailor services to meet individual needs or focus.
                    </Paragraph>    
                </div>                         
            </div>             
        </div>
    </Container>
</section>