---
import Button from "../shared/Button.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import ByNumber from "./ByNumber.astro";
import Title from "../shared/Title.astro";
import Carousel from "../elements/HeroCarousel.jsx";
---

<section class="relative pt-24">
    <Container className={"flex flex-col lg:flex-row gap-10 lg:gap-12"}>
        <div class="text-center mx-auto space-y-4 mt-6 mb-8">
            
            <div class="mx-auto w-2/3 lg:px-[10%]">
                <img src={"./images/Integriguard02.webp"} alt="banner image" class="rounded-xl min-h-[10vh] lg:block hidden"/>
            </div> 

            <div class="mx-auto w-2/3">
                <img src={"./images/Integriguard02.webp"} alt="banner image" class="rounded-xl lg:hidden"/>
            </div> 

            <Title>
                Healthcare Outsourcing Services
            </Title>
            <div class="text-center text-white">
                <Paragraph className="mb-8 mx-auto text-center text-white lg:w-full">
                    By integrating your operations to us, we can help your company keep up with growing responsibilities and tasks, reduce your labor costs, improve team efficiency, focus on what's important, increase productivity and focus on delivering quality care to your residents.
                </Paragraph>    
            </div>
            <div class="flex flex-col lg:flex-row py-2">
                <div class="mx-auto my-7 lg:self-center px-2 lg:block hidden">
                    <!-- <img src={"./images/Integriguardlogo02.webp"} alt="banner image" class="bg-white h-[100%]" /> -->
                    <img src={"./images/Integriguardlogo02.webp"} alt="banner image" class="bg-white" />
                </div> 
                <Carousel client:load/>
                <div class="mx-auto my-7 lg:self-center px-2 lg:block hidden">
                    <!-- <img src={"./images/Integriguardlogo02.webp"} alt="banner image" class="bg-white  h-[100%]" /> -->
                    <img src={"./images/Integriguardlogo02.webp"} alt="banner image" class="bg-white" />
                </div> 
            </div>
            
        </div>
        
    </Container>
    

    <!-- <ByNumber/> -->
</section>
