---
import Info from "../cards/Info.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";

---

<section id="our-people">
    <Container>                  
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-3 lg:gap-4">

            <div class="flex flex-col items-center rounded-3xl relative overflow-hidden lg:self-center">
                    <img src="./images/OurPeople1.png" alt="Our People Image"  class="w-auto h-auto min-w-0 lg:py-16"> </img>                        
            </div>

            <div class="flex flex-col items-center py-2 rounded-3xl relative overflow-hidden">
                    <div class="text-center max-w-3xl mx-auto text-white">
                        <Title>Our People</Title>
                    </div> 
                     
                    <div class="text-center justify-center max-w-6xl mx-auto">
                        <Paragraph className="mt-6 sm:mt-8 text-white">
                            At the heart of IntegriGuard's mission are its people. Committed, skilled, and driven, the team at IntegriGuard is dedicated to assisting SNF facilities in meeting their growing responsibilities and demands. By offering customized support teams, IntegriGuard empowers SNFs to streamline their operations, reduce labor costs, and enhance team efficiency and productivity.
                        </Paragraph>
                        <Paragraph className="mt-6 sm:mt-8 text-white">
                            Driven by a passion for service and a commitment to excellence, the people of IntegriGuard embody the company's core values of integrity, innovation, and compassion. Together, they are dedicated to empowering SNF facilities to achieve their full potential and deliver the highest standards of care to their residents.
                        </Paragraph>
                    </div>         
            </div>            

            <div class="flex flex-col items-center rounded-3xl relative overflow-hidden lg:self-center">
                    <img src="./images/OurPeople2.png" alt="Our People Image"  class="w-auto h-auto min-w-0 lg:py-16"> </img>                        
            </div>             
        </div>
    </Container>
</section>