---
import Service from "../cards/Service.astro";
import Container from "../shared/Container.astro";
import Paragraph from "../shared/Paragraph.astro";
import Title from "../shared/Title.astro";
import { services } from "../../utils/data.ts";
import Revenuecycle from "../elements/Revenuecycle.jsx";
import MultichannelCustomer from "../elements/MultichannelCustomer.jsx";
import BackOfficeCustomer from "../elements/BackOfficeCustomer.jsx";
import Medicare from "../elements/Medicare.jsx";
import Pdpm from "../elements/Pdpm.jsx";
import QualityMeasures from "../elements/QualityMeasures.jsx";
import RegularotyCompliance from "../elements/RegularotyCompliance.jsx";
import PayrollBaseJournal from "../elements/PayrollBaseJournal.jsx";
import OtherServices from "../elements/OtherServices.jsx";

type ServicesProps = {
    title: string;
    description: string;
    icon: string
};

---

<section id="services">
    <Container className="space-y-10 md:sapce-y-12">
        <div class="text-center max-w-3xl mx-auto space-y-4">
            <Title>
                Our Services
            </Title>
        </div>                     
        <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-8">

            <div class="flex flex-col items-center p-5 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden">
                <div class="rounded-xl p-1 text-heading-1 w-max relative mx-auto">
                    <img src="/images/RevenueCycle.webp" alt="Back Office Image"  class="w-full h-auto min-w-0"> </img>
                </div>
                <div class="mt-6 space-y-1 flex flex-col items-center">
                    <h2 class="text-lg md:text-xl font-semibold text-heading-2 content-center">
                        Revenue Cycle
                    </h2>
                    <h2 class="text-lg md:text-xl font-semibold text-heading-2 content-center">
                        Management
                    </h2>
                </div>
                <div class="mt-6 flex flex-col items-center">
                    <Revenuecycle client:load/>                
                </div>
                
                <span class="absolute w-32 aspect-square -bottom-16 -right-16 bg-primary/10 rounded-full"></span>
            </div>

            <div class="flex flex-col items-center p-5 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden">
                <div class="rounded-xl p-1 text-heading-1 w-max relative mx-auto">
                    <img src="/images/MultiChannel.webp" alt="Back Office Image"  class="w-full h-auto min-w-0"> </img>
                </div>
                <div class="mt-6 space-y-1 flex flex-col items-center">
                    <h2 class="text-lg md:text-xl font-semibold text-heading-2 content-center">
                        Multichannel Customer
                    </h2>
                    <h2 class="text-lg md:text-xl font-semibold text-heading-2 content-center">
                        Engagement
                    </h2>

                </div>
                <div class="mt-6 flex flex-col items-center">
                    <MultichannelCustomer client:load/>                
                </div>
                
                <span class="absolute w-32 aspect-square -bottom-16 -right-16 bg-primary/10 rounded-full"></span>
            </div>


            <div class="flex flex-col items-center p-5 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden">
                <div class="rounded-xl p-1 text-heading-1 w-max relative mx-auto">
                    <img src="/images/BackOffice.webp" alt="Back Office Image"  class="w-full h-auto min-w-0"> </img>                        
                </div>
                <div class="mt-6 space-y-1 flex flex-col items-center">
                    <h2 class="text-lg md:text-xl font-semibold text-heading-2 content-center">
                        Back-Office Customer
                    </h2>
                    <h2 class="text-lg md:text-xl font-semibold text-heading-2 content-center">
                        Service
                    </h2>

                </div>
                <div class="mt-6 flex flex-col items-center">
                    <BackOfficeCustomer client:load/> 
                </div>
                
                <span class="absolute w-32 aspect-square -bottom-16 -right-16 bg-primary/10 rounded-full"></span>
            </div>


            <div class="flex flex-col items-center p-5 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden">
                <div class="rounded-xl p-1 text-heading-1 w-max relative mx-auto">                        
                    <img src="/images/Medicare.webp" alt="Medicare Image"  class="w-full h-auto min-w-0"> </img>                        
                </div>
                <div class="mt-6 space-y-1 flex flex-col items-center">
                    <h2 class="text-lg md:text-xl font-semibold text-heading-2 content-center">
                        Medicare & Managed Care
                    </h2>
                    <h2 class="text-lg md:text-xl font-semibold text-heading-2 content-center">
                        Compliance Monitoring
                    </h2>

                </div>
                <div class="mt-6 flex flex-col items-center">
                   <Medicare client:load/>        
                </div>                        
                <span class="absolute w-32 aspect-square -bottom-16 -right-16 bg-primary/10 rounded-full"></span>
            </div>            


            <div class="flex flex-col items-center p-5 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden">                
                <div class="rounded-xl p-1 text-heading-1 w-max relative mx-auto">                        
                    <img src="/images/Pdpm3.webp" alt="Pdpm3 Image"  class="w-full h-auto min-w-0"> </img>                        
                </div>
                <div class="mt-6 flex flex-col items-center">
                    <h2 class="text-lg md:text-xl font-semibold text-heading-2 content-center">
                        PDPM Management
                    </h2>
                </div>
                <div class="mt-6 flex flex-col items-center">
                    <Pdpm client:load/>                
                </div>
                <span class="absolute w-32 aspect-square -bottom-16 -right-16 bg-primary/10 rounded-full"></span>
            </div>   


            <div class="flex flex-col items-center p-5 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden">
                <div class="rounded-xl p-1 text-heading-1 w-max relative mx-auto">                        
                    <img src="/images/QualityMeasures.webp" alt="Quality Rating Image"  class="w-full h-auto min-w-0"> </img>                        
                </div>
                <div class="mt-6 space-y-1 flex flex-col items-center">
                    <h2 class="text-lg md:text-xl font-semibold text-heading-2 content-center">
                        Quality Measures
                    </h2>
                </div>
                <div class="mt-6 flex flex-col items-center">
                    <QualityMeasures client:load/>                
                </div>                
                
                <span class="absolute w-32 aspect-square -bottom-16 -right-16 bg-primary/10 rounded-full"></span>
            </div>               


            <div class="flex flex-col items-center p-5 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden">
                <div class="rounded-xl p-1 text-heading-1 w-max relative mx-auto">
                    <img src="/images/mds3.webp" alt="MDS3 Image"  class="w-full h-auto min-w-0"> </img>
                </div>
                <div class="mt-6 space-y-1 flex flex-col items-center">
                    <h2 class="text-lg md:text-xl font-semibold text-heading-2 content-center">
                        Regulatory Compliance
                    </h2>
                </div>
                <div class="mt-6 flex flex-col items-center">
                    <RegularotyCompliance client:load/>
                </div>
                                
                <span class="absolute w-32 aspect-square -bottom-16 -right-16 bg-primary/10 rounded-full"></span>
            </div>  
            
            
            <div class="flex flex-col items-center p-5 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden">
                <div class="rounded-xl p-1 text-heading-1 w-max relative mx-auto">
                    <img src="/images/PBJ2.webp" alt="PBJ2 Image"  class="w-full h-auto min-w-0"> </img>
                </div>
                <div class="mt-6 space-y-1 flex flex-col items-center">
                    <h2 class="text-lg md:text-xl font-semibold text-heading-2 content-center">
                        Payroll Based Journal
                    </h2>
                </div>
                <div class="mt-6 flex flex-col items-center">
                    <PayrollBaseJournal client:load/>
                </div>
                
                <span class="absolute w-32 aspect-square -bottom-16 -right-16 bg-primary/10 rounded-full"></span>
            </div>  


            <div class="flex flex-col items-center p-5 sm:p-6 lg:p-8 rounded-3xl border border-box-border bg-box-bg shadow-lg shadow-box-shadow relative overflow-hidden">
                <div class="rounded-xl p-1 text-heading-1 w-max relative mx-auto">
                    <img src="/images/OtherServices.webp" alt="Other Services Image"  class="w-full h-auto min-w-0"> </img>
                </div>
                <div class="mt-6 space-y-1 flex flex-col items-center">
                    <h2 class="text-lg md:text-xl font-semibold text-heading-2 content-center">
                        Other Services
                    </h2>
                </div>
                <div class="mt-6 flex flex-col items-center">
                    <OtherServices client:load/>
                </div>                
                <span class="absolute w-32 aspect-square -bottom-16 -right-16 bg-primary/10 rounded-full"></span>
            </div>              
        </div>
    </Container>
</section>