---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/sections/Hero.astro';
import Services from '../components/sections/Services.astro';
import AboutUs from '../components/sections/AboutUs.astro';
import OurPeople from '../components/sections/OurPeople.astro';
import Features from '../components/sections/Features.astro';
import CTA from '../components/sections/CTA.astro';
import Brands from '../components/sections/Brands.astro';
import Contact from '../components/sections/Contact.astro';
import WhatCustomers from '../components/sections/WhatCustomers.astro';

---

<Layout title="Welcome to Integriguard">
	<main class="flex flex-col gap-y-5 md:gap-y-8 overflow-hidden">
		<Hero/>		
		<Services/>		
		<AboutUs/>		
		<Features/>
		<OurPeople/>
		<WhatCustomers/>
		<Contact/>
		<CTA/>		
	</main>
</Layout>